<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- if site.codeberg -%}
            <li>
              <a class="u-codeberg" href="{{ site.codeberg }}" target="_blank">Codeberg: {{site.codeberg}}</a>
            </li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

  <!--ZC Popup Code Starts-->
  <script type="text/javascript" id="ZC_Forms_Popup" src="https://campaigns.zoho.com/js/optin.min.js" ></script> <script type="text/javascript">window.onload=function(){loadZCPopup('3z52116be31c38cbb40ffda027ff1171c7f72b850dc8eb63b3d2affcba9304cb54','ZCFORMVIEW','3z7c3513bba38f22973d70a6f6d3f675ea')}</script>
  <!--ZC Popup Code Ends-->
</footer>
