---
---

@import "minima";

body {
  background-color: #000;
  color: #fff;
}

a {
  color: #00f !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title,
.site-nav a {
  color: #00f !important;
}
